spring:
  data:
    redis:
      host: 10.0.8.57
      port: 6379
      timeout: 10000
      lettuce:
        pool:
          max-active: 8
          max-wait: -1ms
          max-idle: 8
          min-idle: 0

eureka:
  client:
    service-url:
      defaultZone: http://service-registry:8761/eureka/

app:
  data:
    enterprise-admin-role-id: rol_LMHVxqJUmRSrsT93
    root-admin-role-name: root:admin
    enterprise-member-role-id: rol_eKb1t9cgSB8NKQfE