spring:
  datasource:
    url: jdbc:postgresql://postgres:5432/kolate_master
    username: postgres
    password: toor
  jpa:
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        default_schema: kolate_test
    hibernate:
      ddl-auto: update
    show-sql: true
  data:
    redis:
      host: redis
      port: 6379
      timeout: 10000
      lettuce:
        pool:
          max-active: 8
          max-wait: -1ms
          max-idle: 8
          min-idle: 0

eureka:
  client:
    service-url:
      defaultZone: ${EUREKA_SERVICE_URL:http://service-registry:8761/eureka/}
    healthcheck:
      enabled: true
    register-with-eureka: true
    fetch-registry: true
  instance:
    prefer-ip-address: true

app:
  data:
    auth0-client: h6dJudhaZabm7tBZPjasngDncETxlXLk
    invite-url: http://localhost:3000/sso-configuration?cid=%s&eid=%s&ename=%s